@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ROTTER";
  src: url("./assets/fonts/Rotter.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'ROTTER';
  /* background-color: #191919; */
}


.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.ant-btn-primary{
  background-color:rgb(68, 116, 236) !important;
  color:#fff;
}